* {
    margin: 0%;
    font-family: 'DejaVu Sans Mono', monospace, sans-serif;

}

:root {
    --background: #fefee3;
    --primary: #FFC9B9;
    --secondary: #4c956c;
    --accent: #2c6e49;
    --dark: #613a3a;

}
body {
    padding-top: 5vh;
    background-image: url(images/kodama.jpg);
}
/* main container that sits center of the pages, index = main */
.primaryContainer {
    align-self: center;
    position: relative;
    border-radius: 5px;
    border: 5px solid var(--accent);
    /* height and width according to viewport */
    height: 75vh;
    width: 50vw;
    /* to make the box centered */
    margin: auto;
    background-color: var(--background);

}

/* container for the headers in the main container in all pages */
.openingHeader {
    border-width: 0px 0px 5px 0px ;
    border-style: dotted;
    border-color: var(--accent);
    border-radius: 5px;
}
/* larger part of headings, index = studio ghibli trivia */
.quizTitle {
    color: var(--dark);
    font: bolder;
    font-size: 6vh;
    text-align: center;
    padding: 2vh;
}

/* smaller part of headings, index = test your knowledge */
.titleCaption {
    color: var(--dark);
    text-align: center;
    padding-bottom: 2vh;
}

/* for the button on index page */
#buttonBox {
    text-align: center;
    padding-top: 20%;
    /* color: var(--dark) */
    
}
#startBtn {
    background-color: var(--secondary);
    font-size: 5vh;
    color: var(--dark);
    border-radius: 5px;
    padding: 3vh 10vh;
    border-color: var(--accent);
    box-shadow: 0 5px 15px 0 var(--dark);
    transition-duration: 0.2s;
}

/* for all buttons? COME BACK TO ME */

#startBtn:hover {
    background-color: var(--primary);
    border-color: var(--dark);
    cursor: grabbing;
    transform: 1vh;
}
/* to make the button move when clicked */
#startBtn:active {
    transform: translateY(0.5vh);
}

/* for the quiz page */
/* h2 and h3 attr */
.smolHead {
    color: var(--dark);
    text-align: start;
    padding: 2vh;
}

.bigHead {
    color: var(--dark);
    text-align: start;
    padding: 2vh;
}
#btnOptions {
    padding-top: 3vh;
}
#btnOptions button {
    background-color: var(--secondary);
    font-size: 5vh;
    color: var(--dark);
    width: 90%;
    min-height: 7vh;
    align-self: center;
    border-radius: 5px;
    padding: 1vh;
    margin: 2vh auto 2vh auto;
    border-color: var(--accent);
    transition-duration: 0.2s;
    align-content: center;
    display: block;
}

#btnOptions button:hover {
    background-color: var(--primary);
    border-color: var(--dark);
    cursor: grabbing;
    transform: 1vh;
}
#btnOptions button:active {
    transform: translateY(0.5vh);
}
/* only for the scores html */
#boardParent {
    padding: 2vh;
    height: 60%;
}

#playerBoard {
    width: 50%;
    float: left;
    color: var(--secondary);

}
#scoreBoard {
    width: 50%;
    float: right;
    color: var(--secondary);
 
}

/* container for clear and play again buttons */
#endBtns {
    box-sizing: border-box;
    position: relative;
    text-align: center;
    height: 4vh;
}

/* both clear and play again buttons */
#endBtns button {
    background-color: var(--secondary);
    color: var(--dark);
    width: 20%;
    height: 5vh;
    align-items: center;
    border-radius: 5px;
    padding: 1vh;
    margin: auto 2vh auto 2vh;
    border-color: var(--accent);
    transition-duration: 0.2s;
    display: inline;
}

/* clear button */
#erase {
    font-size: 2vh;
    font-weight: bolder;
}

/* play again button */
#replay {
    font-size: 2vh;
    font-weight: bolder;
}

#endBtns button:hover {
    background-color: var(--primary);
    border-color: var(--dark);
    cursor: grabbing;
    transform: 1vh;
}

#endBtns button:active {
    transform: translateY(0.5vh);
}

.scoreLists {
    margin-top: 2vh;
}

.playerScores {
    list-style: none;
}
/* part at bottom saying it was made by me */
.foot {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    height: 10vh;
    margin-top: 5vh;
    width: 100%;
    color: var(--primary);
    text-align: center;
    padding-top: 3vh;
    background-color: var(--accent);
}